@charset "utf-8";

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.lord{
    width:100%;
    height:100vh;
    padding:0;
    margin:0;
    z-index: 10000;
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    background: linear-gradient(335deg, #f5f6f7, #cdfaf5, #9ce0f1, #6bccf6);
    background-size: 800% 800%;
    animation: GradientBackground 5s ease infinite;
}
.lord-container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 0;
}
@keyframes GradientBackground {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
};

.now,.past{
    width: 100%;
    margin: 0;
    padding: 0;
}

.now img,.past img{
    width: 100%;
}

.now .button,.past .button{
    width: 400px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn{
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  margin: 50px auto;
  margin-left: 40%;
}